<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.ricardomartins.lallaapp">

<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

<application android:allowBackup="true" android:icon="@drawable/taicon" android:label="@string/app_LoGoname"
    android:supportsRtl="true" android:theme="@style/AppTheme">
    <activity android:name="pt.psychapp.ricardomartins.lallaapp.MainScreens.LogoScreen" android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name="pt.psychapp.ricardomartins.lallaapp.MainScreens.EntryScreen" android:screenOrientation="portrait"/>
    <activity android:name="pt.psychapp.ricardomartins.lallaapp.MainScreens.StartScreen" android:screenOrientation="portrait"/>
    <activity android:name="pt.psychapp.ricardomartins.lallaapp.Pager_Activities.InfoScreen" android:screenOrientation="portrait"/>
    <activity android:name="pt.psychapp.ricardomartins.lallaapp.MainScreens.OptScreen" android:screenOrientation="portrait"/>
    <activity android:name="pt.psychapp.ricardomartins.lallaapp.Week.WeekStatus" android:screenOrientation="portrait"/>
    <activity android:name="pt.psychapp.ricardomartins.lallaapp.Quizz.First_Time_Activity" android:screenOrientation="portrait"  android:windowSoftInputMode="stateHidden"/>
    <activity android:name="pt.psychapp.ricardomartins.lallaapp.Week.Activity_Progress" android:screenOrientation="portrait"/>
    <activity android:name="pt.psychapp.ricardomartins.lallaapp.Statistics.Activity_Statistics" android:screenOrientation="portrait"/>

    <service android:name="pt.psychapp.ricardomartins.lallaapp.Notification.Service_Notification">
        <intent-filter>
            <action android:name="my.package.NotificationService" />
        </intent-filter>
    </service>

    <receiver android:name="pt.psychapp.ricardomartins.lallaapp.Notification.BootReceiver" android:enabled="true" android:exported="true"
        android:label="BootReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
    </receiver>

    <activity android:name="pt.psychapp.ricardomartins.lallaapp.Quizz.Results_Activity" android:label="@string/title_activity_results_"
        android:theme="@style/AppTheme" android:screenOrientation="portrait"/>
</application>

</manifest>